__pycache__/
.idea
.vscode/
images/
*/__pycache__
mav.tlog.raw
mav.tlog
QuadcopterIntegration/Utilities/__pycache__/converters.cpython-39.pyc
QuadcopterIntegration/Utilities/__pycache__/dronekit_commands.cpython-39.pyc
QuadcopterIntegration/Utilities/__pycache__/converters.cpython-39.pyc
/QtApp/qfi/
/QtApp/color_palletes/
/QtApp/feather/
